/* ErrorPage.css */
.error-page {
    text-align: center;
    padding: 50px;
  }
  
  .error-page h1 {
    font-size: 5rem;
    color: red;
  }
  
  .error-page p {
    font-size: 1.5rem;
  }
  
  .error-page button {
    padding: 20px 20px;
    width: 300px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-page button:hover {
    background-color: #161b21;
  }
  