body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height :100vh;
  background: linear-gradient(#b0b0b3,#050007);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.head{
  display : flex;
    flex-direction: column;
    align-items: center;
    gap : 0px;
    width : 100%;
    margin-top : 0px;
    padding-top: 10px;
  
}
.imageicon{
    padding-top: 15px;
    padding-left: 15px;
}
